<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">

    <div class="container px-4 px-lg-5">
        <a class="navbar-brand " href="#!" style="margin-left:-60px ; color: orangered; padding-bottom: 10px;">
            <i class="fa-solid fa-utensils fa-2x p-3"></i>

            <span style="font-size: 25px;;">Food Square</span>
        </a>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="ms-auto me-1">
                <ul class="navbar-nav  mb-2 mb-lg-0 ms-lg-4">
                    <li>
                        <input type="text" style="width: 400px;" placeholder="search restaurants here" >
                    </li>
                    <li class="nav-item   "><a class="nav-link active text-light" aria-current="page" href="add">Add new
                            restaurant</a></li>

                </ul>
            </div>

        </div>
    </div>
</nav>