<div class="container mt-5 mb-3 border border-light p-3">
    <form>
        <div class="row">
            <h3 class="text-light text-center mb-3">Add new restaurant details </h3>
            <div class="col-md-6">
                <div class="mb-2">
                    <input (change)="changeId($event)" name="id" placeholder="Restaurant id" type="text" required class="form-control">

                </div>
                <div class="mb-2">
                    <input  [(ngModel)]="neighbourhood" name="neighbourhood" placeholder="Restaurant neighbourhood" type="text" required class="form-control">

                </div>
                <div class="mb-2">
                    <input  [(ngModel)]="photograph" name="photograph" placeholder="Restaurant photograph" type="text" required class="form-control">

                </div>
                <!-- working hours -->
                <div class="mb-2">
                    <label class="text-light mb-2" for="">Operating Hours</label>
                    <input  [(ngModel)]="Sunday" name="Sunday" placeholder="sunday" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="Monday" name="Monday" placeholder="monday" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="Tuesday" name="Tuesday" placeholder="tuesday" type="text" required  class="form-control mb-2">
                    <input  [(ngModel)]="Wednesday" name="Wednesday" placeholder="wednesday" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="Thursday" name="Thursday" placeholder="thursday" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="Friday" name="Friday" placeholder="friday" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="Saturday" name="Saturday" placeholder="saturday" type="text" required class="form-control mb-2">

                </div>

            </div>
            <div class="col-md-6">
                <input  [(ngModel)]="rname" name="rname" placeholder="Restaurant name" type="text" required class="form-control mb-2">
                <input  [(ngModel)]="address" name="address" placeholder="Restaurant address" type="text" required class="form-control mb-2">
                <input  [(ngModel)]="cusine" name="cusine" placeholder="Restaurant Cusine Type" type="text" required class="form-control mb-2">
                <div class="mb-2">
                    <label  class="text-light mb-2" for="">Reviews</label>
                    <input  [(ngModel)]="rvname" name="rvname" placeholder="Name" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="date" name="date" placeholder="Date" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="rating" name="rating" placeholder="Ratings" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="comments" name="comments" placeholder="Comments" type="text" required class="form-control mb-2">
                </div>
                <div class="mb-2">
                    <label class=" text-light mb-2" for="">Location</label>
                    <input  [(ngModel)]="lat" name="lat" placeholder="latitude" type="text" required class="form-control mb-2">
                    <input  [(ngModel)]="log" name="log" placeholder="longitude" type="text" required class="form-control mb-2">

                </div>
                
            </div>
            <div class="text-center mt-3">
               <button (click)="addProduct()" type="submit" class="btn btn-dark">Add Restaurant</button>
            </div>
           
        </div>
    </form>

</div>